@font-face{
    font-family: 'BC_Alphapipe_RB_SemiBold';
    src: local('BC_Alphapipe_RB_SemiBold'), url(../fonts/BC_Alphapipe_RB_SemiBold.ttf);
}

@font-face{
    font-family: 'BC_Alphapipe_L_Regular';
    src: local('BC_Alphapipe_L_Regular'), url(../fonts/BC_Alphapipe_L_Regular.ttf);
}

@font-face{
    font-family: 'BC_Alphapipe_RB_Bold_Italic';
    src: local('BC_Alphapipe_RB_Bold_Italic'), url(../fonts/BC_Alphapipe_RB_Bold_Italic.ttf);
}

@font-face{
    font-family: 'BC_Alphapipe_TSB_Bold';
    src: local('BC_Alphapipe_TSB_Bold'), url(../fonts/BC_Alphapipe_TSB_Bold.ttf);
}


.aboutMeMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.aboutMeMainTitle{
    font-family: 'BC_Alphapipe_RB_SemiBold';
    font-size: 40px;
    margin: 12vh 0 10vh 0;
}

.aboutMeMainTitlePhotoDescription{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap:20px;
}

.aboutMeMainTitlePhotoDescription img{
    min-width: 30%;
    max-width: 30%;
}

.aboutMeMainTitlePhotoDescription p{
    font-family: 'BC_Alphapipe_L_Regular';
    margin-top: 5%;
}

.aboutMeMainTitleDescription p{
    font-family: 'BC_Alphapipe_L_Regular';
}

.aboutMeMainSkills p{
    font-size: 28px;
    font-family: 'BC_Alphapipe_RB_Bold_Italic';
    color: #444AA7;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

.aboutMeMainSkillsPhotoContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2%;
}

.aboutMeMainSkillsPhotoContainerElements{
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}

.aboutMeMainSkillsPhotoContainerElements img{
    border-radius: 25%;
    width: 50%;
}

.underlineText{
    font-family: 'BC_Alphapipe_RB_SemiBold';
    color: #444AA7;
    
}
.aboutMeMainTimeline{
    border-left: 3px solid #444AA7;
    padding: 5vh 0vh 5vh 0vh;
    position: relative;
    width: 100%;
}

.aboutMeMainTimelineElement{
    padding-left: 50px;
}
.aboutMeMainTimeline > p{
    font-size: 28px;
    font-family: 'BC_Alphapipe_RB_Bold_Italic';
    color: #444AA7;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}


.aboutMeMainTimelineElementFirstTitle{
    position: relative;
    margin: 0 0 0.1vh 0;
    color: #444AA7;
    font-family: 'BC_Alphapipe_TSB_Bold';
    font-size: 25px;
    font-weight: 100;
    margin: 0.2vh 0 0 0;
}
.aboutMeMainTimelineElementSecondTitle{
    font-family: 'BC_Alphapipe_RB_SemiBold';
    font-size: 18px;
    margin: 0.2vh 0 0 0;
    color: #444AA7;
}

.aboutMeMainTimelineElementDescription{
    font-family: 'BC_Alphapipe_L_Regular';
    margin: 2% 0 2% 0;
}

.aboutMeMainTimelineElementFirstTitle img{
    width: 11%;
    object-fit: cover;
}

.aboutMeMainTimelineElementFirstTitle::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -67px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #444AA7;
    border-radius: 50%;
}

.aboutMeMainTimelineTitle p{
    font-size: 28px;
    font-family: 'BC_Alphapipe_RB_Bold_Italic';
    color: #444AA7;
    text-transform: uppercase;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 380px){
    .aboutMeMainTitle{
        font-size: 30px;
    }
    .aboutMeMainTimelineElement{
        padding-left: 35px;
    }
    .aboutMeMainTimelineElementFirstTitle{
        font-size: 20px;
    }
    .aboutMeMainTimelineElementFirstTitle::before{
        left: -51px;
    }
    .aboutMeMainSkillsPhotoContainerElements img{
        width: 100px;
    }
}