@font-face{
    font-family: 'BC_Alphapipe_RB_SemiBold';
    src: local('BC_Alphapipe_RB_SemiBold'), url(../fonts/BC_Alphapipe_RB_SemiBold.ttf);
}

.ContactMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.ContactMainTitle{
    font-size: 40px;
    font-family: 'BC_Alphapipe_RB_SemiBold';
    margin: 12vh 0 12vh 0;
    width: 100%;
    justify-content: center;
    align-items: center;
    display: flex;
}
.ContactMainElementsLogo{
    width: 40%;
}

.ContactMainElements{
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 10%;
    align-items: center;
    justify-content: center;
}

.ContactMainElementsButtoms{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    width: 50%;
}

.ContactMainElementsButtoms a{
    text-decoration: none;
    font-family: 'BC_Alphapipe_RB_SemiBold';
    color: white;
    background-color: #444AA7;
    padding: 7%;
    border-radius: 6vh;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    white-space: nowrap;
}

.ContactMainElementsButtomsElement{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media(max-width: 380px){
    .ContactMainTitle{
        font-size: 40px;
    }
    .ContactMainElementsButtomsElement a{
        font-size: 10px;
    }
    .ContactMainElementsButtoms{
        gap: 20px;
    }
}

@media(min-width: 1200px){
    .ContactMainTitle{
        font-size: 70px;
    }
    .ContactMainElementsButtomsElement a{
        font-size: 25px;
    }
}