@font-face{
    font-family: 'BC_Alphapipe_RB_SemiBold';
    src: local('BC_Alphapipe_RB_SemiBold'), url(../fonts/BC_Alphapipe_RB_SemiBold.ttf);
}

.navMain{
    margin-top: 3vh;
}
.navMainContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.navMainContainerElement a{
    text-decoration: none;
    color: black;
    white-space: nowrap;
    font-family: 'BC_Alphapipe_RB_SemiBold';
    cursor: pointer;
    font-size: 1.5em;
}

.navMainContainerElement a:hover{
    color: #604696;
}
.LigthIcons{
    width: 3vh;
    padding: 0.5vh;
}
img{
    cursor: pointer;
}