@font-face{
    font-family: 'BC_Alphapipe_RB_SemiBold';
    src: local('BC_Alphapipe_RB_SemiBold'), url(../fonts/BC_Alphapipe_RB_SemiBold.ttf);
}

.navMain{
    padding-top: 3%;
}
.navMainContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
}

.navMainContainerElement{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navMainContainerElement a{
    text-decoration: none;
    color: black;
    white-space: nowrap;
    font-family: 'BC_Alphapipe_RB_SemiBold';
    cursor: pointer;
    font-size: 1.5em;
}

.navMainContainerIcons{
    display: flex;
    align-items: center;
    justify-content: center;
}

.navMainContainerIcons img{
    fill:white
}

.navMainContainerElement a:hover{
    color: #444AA7 !important;
}

.navMainContainerIcons img{
    cursor: pointer;
    width: 4em;
}

@media (max-width: 750px){
    .navMainContainerElement a{
        font-size: 1em;
    }
    .navMainContainerIcons img{
        width: 3em;
    }
}

@media (max-width: 550px){
    .navMainContainerElement a{
        font-size: 0.7em;
    }

    .navMainContainerIcons img{
        font-size: 0.6em;
    }
}

@media (min-width: 1200px){
    .navMainContainerElement a{
        font-size: 2.5em;
    }
    .navMainContainerIcons img{
        width: 5em;
    }
}