@font-face{
    font-family: 'BC_Alphapipe_RB_SemiBold';
    src: local('BC_Alphapipe_RB_SemiBold'), url(../fonts/BC_Alphapipe_RB_SemiBold.ttf);
}

@font-face{
    font-family: 'BC_Alphapipe_RB_Bold_Italic';
    src: local('BC_Alphapipe_RB_Bold_Italic'), url(../fonts/BC_Alphapipe_RB_Bold_Italic.ttf);
}

@font-face{
    font-family: 'BC_Alphapipe_L_Regular';
    src: local('BC_Alphapipe_L_Regular'), url(../fonts/BC_Alphapipe_L_Regular.ttf);
}

.presentationMain{
    display: flex;
    align-items: center;
    justify-content: center;
}
.presentationMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.presentationMainImage{
    width: 65%;
}
.presentationMainText{
    align-self: flex-start;

    
}
.presentationMainTextLittleTitle{
    font-size: 30px;
    margin-right: 0.8vh;
    font-family: 'BC_Alphapipe_RB_SemiBold';
}
.presentationMainTextBigTitle{
    color: #604696;
    font-size: 50px;
    font-family: 'BC_Alphapipe_RB_SemiBold';
}
.presentationMainTextSubTitle{
    font-family: 'BC_Alphapipe_RB_Bold_Italic';
    text-transform: uppercase;
}
.presentationMainTextMoreText{
    font-family: 'BC_Alphapipe_L_Regular';

}
.presentationMainTextMoreTextPurple{
    color:#604696;
    font-family: 'BC_Alphapipe_RB_SemiBold';
}
.presentationMainButtons{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 10%;
    margin-top: 3%;
}
.presentationMainButton{
    display:flex;
    background-color: #604696;
    padding: 10px;
    color: #FFFFFF;
    border-radius: 6vh;
    font-size: large;
    font-family: 'BC_Alphapipe_L_Regular';
    justify-content: space-between;
    text-decoration: none;
    margin-right: 0.7vh;
    align-items: center;
}

.presentationMainTextTitle{
    white-space: nowrap;
}

@media (max-width: 700px){
    .presentationMainText{
        width: 95%;
    }
    .presentationMainTextBigTitle{
        font-size: 40px;
    }
    .presentationMainButtons{
        gap:5%;
    }

}

@media (max-width: 550px){
    .presentationMainButtons{
        gap:2%;
    }

}

@media (max-width: 450px){
    .presentationMainTextLittleTitle{
        font-size: 20px;
    }
    .presentationMainTextBigTitle{
        font-size: 30px;
    }
    .presentationMainTextSubTitle{
        font-size: 13px;
    }
    .presentationMainButton{
        padding: 5px;
        font-size: 15px;
        border-radius: 3vh;
    }
    
    .presentationMainButtons img{
        margin-left: 5px;
        width: 15px;
        height: 15px;
    }
    .presentationMainTextMoreText{
        font-size: 13px;
    }
}

@media (max-width: 380px){
    .presentationMainButtons{
        flex-direction: column;
    }
    .presentationMainButton{
        margin-bottom: 10px;
    }
    .presentationMainTextTitle{
        white-space: wrap;
    }
    .navMainContainerElement a{
        font-size: 8px;
    }
}