@font-face{
    font-family: 'BC_Alphapipe_RB_SemiBold';
    src: local('BC_Alphapipe_RB_SemiBold'), url(../fonts/BC_Alphapipe_RB_SemiBold.ttf);
}

@font-face{
    font-family: 'BC_Alphapipe_RB_Bold_Italic';
    src: local('BC_Alphapipe_RB_Bold_Italic'), url(../fonts/BC_Alphapipe_RB_Bold_Italic.ttf);
}

@font-face{
    font-family: 'BC_Alphapipe_L_Regular';
    src: local('BC_Alphapipe_L_Regular'), url(../fonts/BC_Alphapipe_L_Regular.ttf);
}

@font-face{
    font-family: 'BC_Alphapipe_TSB_Bold';
    src: local('BC_Alphapipe_TSB_Bold'), url(../fonts/BC_Alphapipe_TSB_Bold.ttf);
}

.WorkExperienceMain{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.WorkExperienceMainTitle p{
    font-family: 'BC_Alphapipe_RB_SemiBold';
    font-size: 40px;
    margin-top: 12vh;
    margin-bottom: 12vh;
}

.WorkExperienceMainTimeline{
    border-left: 3px solid #444AA7;
    padding: 5vh 0vh 5vh 0vh;
    width: 100%;
}



.WorkExperienceMainTimelineElement{
    padding-left: 35px;
}
.WorkExperienceMainTimelineElementFirstTitle{
    position: relative;
    margin: 0 0 0.1vh 0;
    color: #444AA7;
    font-size: 20px;
}

.WorkExperienceMainTimelineElementFirstTitle::before{
    content: "";
    position: absolute;
    top: 50%;
    left: -52px;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    background-color: #444AA7;
    border-radius: 50%;
}




.WorkExperienceMainTimelineElementFirstTitle{
    font-family: 'BC_Alphapipe_RB_SemiBold';
    font-size: 28px;
}

.WorkExperienceMainTimelineElementSecondTitle{
    font-family: 'BC_Alphapipe_TSB_Bold';
    font-size: 20px;
    margin: 0 0 0 0;
}

.WorkExperienceMainTimelineElementThirdTitle{
    font-family: 'BC_Alphapipe_L_Regular';
    font-weight: 600;
    font-size: 14px;
    margin: 0 0 0 0;
    margin: 0.2vh 0 0 0;
}

.WorkExperienceMainTimelineElementFourthTitle{
    font-family: 'BC_Alphapipe_L_Regular';
    font-weight: 600;
    font-size: 14px;
    margin: 0.2vh 0 0 0;
    color: #444AA7;
}

.WorkExperienceMainTimelineElementDescription{
    font-family: 'BC_Alphapipe_L_Regular';
}

@media(max-width: 380px){
    .WorkExperienceMainTitle p{
        font-size: 30px;
    }
    .WorkExperienceMainTimelineElementFirstTitle{
        font-size: 20px;
    }
    .WorkExperienceMainTimelineElementSecondTitle{
        font-size: 16px;
    }
    .WorkExperienceMainTimelineElementThirdTitle{
        font-size: 12px;
    }
    .WorkExperienceMainTimelineElementFourthTitle{
        font-size: 12px;
    }
    .WorkExperienceMainTimelineElementDescription{
        font-size: 14px;
    }
    .WorkExperienceMainTimelineElementFirstTitle::before{
        left: -51px;
    }
}